<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/login.css" rel="stylesheet" >
  </head>
  <body>
  <div class="wrapper">
    <div id="formContent" >

      <form th:action="@{/register}" th:object="${userDTO}" id="loginForm" method="post">
        <input type="text" id="login" class="mt-3 " th:field="*{username}" placeholder="login">
        <input type="password" id="password" th:field="*{password}" placeholder="password">
        <input type="password" id="confirm_password" placeholder="confirm password">
        <textarea id="description" th:field="*{description}" name="description" placeholder="A few words about You" rows="2"></textarea>
        <div  th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class=" text-danger" >
          Username error.
        </div>
        <div  th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class=" text-danger" >
          Password error.
        </div>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class=" text-danger" >
          Description error.
        </div>

        <input type="submit"  value="Sign up">
      </form>

    </div>
  </div>

  <script>
      $(':input[type="submit"]').prop('disabled', true);
      $('#password, #confirm_password').on('keyup', function () {
          if ($('#password').val() === $('#confirm_password').val()) {
              $('#confirm_password').css('color', 'green');
              $(':input[type="submit"]').prop('disabled', false);
          } else{
              $('#confirm_password').css('color', 'red');
              $(':input[type="submit"]').prop('disabled', true);
          }
      });
  </script>

  </body>
</html>